@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*{
    margin: 0;
    padding: 0;
}
.pagina-inicial-servicos{
    

    background-color:lavender;
}

.tudao{
    max-width: 107rem;
    margin: 0px 3rem;
    width: 79rem;
} 
.barra-opcoes-inicio{
    background-color:steelblue;
    margin-bottom: 20px;
    
}
.menu-opcoes{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: white;
    text-align: center;
    height: 4rem;
    width: 12rem;
    margin: 0px 9px;
    font-family: 'Krona One', sans-serif;
}
.menu-opcoes:active{
    background-color: red;
}
.separa{
    color: white;
    display: inline-block;
    height: 5rem;
    margin: 0px 3rem -4px;
    width: 1px;
    /* vertical-align: middle; */
    background-color: white;
}
.local-foto{
    background-color: white;
    width: 92px;
    height: 77px;
    border-radius: 55px;
}
.apresentacao-tela-principal{
    align-items: center; 
    padding: 0% 5%;
    display: flex;
    align-items: flex-start;
    gap:2rem;
    margin-bottom: 20px;
}

.apresentacoes-produtos-cadastrar{
    width: 76rem;
    height: 37rem;
    background-color: white;
    box-shadow: 0px 4px 9px black;
    margin-bottom: 2px;
}
.titulo-apresentacao{
    background-color: steelblue;
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;

}
.texto-apresentacao{
    color: #F6F6F6;
    font-family: 'Krona One', sans-serif;

    font-size: 20px;
}

.botao-cadastrar{
    font-size: 26px;
    display: flex;
    text-align: end;
    justify-content: end;
    width: 75rem;
    padding: 1%;
    }

    .conteudo-botao{
        border-radius: 20px;
        text-decoration: none;
        background-color:#231EFF;
        width: 18rem;
        height: 3rem;
        color: white;
        font-family: 'Krona One', sans-serif;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;;
    }
    .conteudo-botao:hover{
        background-color: #1E90FF;
        color: white;
    }
    .lista-produtos{
        list-style: none;
        padding: 0% 0%;
        display: flex;
        flex-direction: column;
        width: 76rem;
        gap: 11px;
    }

    .a{
        font-family: 'Krona One', sans-serif;
        font-size: 20px;
        padding: 15px 20px;
    }
    .b{
        justify-content: end;
        display: flex;
        padding: 21px 17px;
        height: 60px;
        gap: 12px;
    }
    .visualize{
        text-decoration: none;
        color: black;
       }
       .icones{
        font-size: 25px;
        display: flex;
        gap: 20px;
       }
       .icones-foto{
        font-size: 25px;
       
       }
       .nomes{
        font-family: 'Krona One', sans-serif;
        font-size: 20px;
        
        color: #231EFF;
    }
    .final{
        background-color: steelblue;
        height: 4rem;
        margin: 0 0rem;
        width: 79rem;
    } 

    .identificadores{
        display: flex;
       padding: 1rem;
       gap: 2rem;
        
    }
  
    .identificacao1{
        display: flex;
        flex-direction: column;
        padding: 10px;
        
      
    }
    .identificacao2{
        display: flex;
        flex-direction: column;
        padding: 10px;
      
    }
    .identificacao3 {
        display: flex;
        flex-direction: column;
        padding: 10px;
      
    }
    .conteudo-identificacao{
        display: flex;
        padding: 10px;
        gap: 5rem;
    }
    .campo-conteudo-servico-identificacao1{
        width:16.5rem;
        height: 32px;
       
    }

    .campos-estilizado-servico{
        border: 3px solid #231EFF2B;
        border-left: 12px solid #231EFF2B;
        border-right: 12px solid #231EFF2B;
        padding: 0 10px;
    }
    .campos-estilizado-bloqueado{
        border: 3px solid #231EFF2B;
        border-left: 12px solid #231EFF2B;
        border-right: 12px solid #231EFF2B;
        background-color: darkgrey;
        padding: 0 10px;
    }
    .campos-estilizado:focus-visible{
        outline: none;
    }
    .campo-conteudo-servico-identificacao2{
        Width:30rem;
        Height: 32px;
    }
    .campo-conteudo-servico-identificacao3{
        Width: 6rem;
        Height: 32px;
    }
    .campo-conteudo-servico-identificacao4{
        Width: 7rem;
        Height: 32px;
    }
    .identificadores-secundarios{
        display: flex;
       padding: 1rem;
       gap: 1.7rem;
        
    }
    .identificacao-secundaria1{
        display: flex;
        flex-direction: column;
        padding: 10px;
        
      
    }
        .identificacao-secundaria2{
        display: flex;
        flex-direction: column;
        padding: 10px;
        
      
    }
    .campo-conteudo-servico-secundario1{
        width: 55.5rem;
        height: 32px;
       
    
    }

    .campo-conteudo-servico-secundario2{
        width: 12.5rem;
        height: 32px;
       
     
    }
    .identificadores-tercearios{
        display: flex;
       padding: 1rem;
       gap: 1.7rem;
        
    }
    .identificacao-terceario1{
        display: flex;
        flex-direction: column;
        padding: 10px;
        
      
    }
    .identificacao-terceario2{
        display: flex;
        flex-direction: column;
        padding: 10px;
        
      
    }
    .identificacao-terceario3{
        display: flex;
        flex-direction: column;
        padding: 10px;
        
      
    }
    .campo-conteudo-servico-terceario1{
        width: 10.5rem;
        height: 32px;
       
    
    }

    .campo-conteudo-servico-terceario2{
        width: 25.5rem;
        height: 32px;
       
    
    }
    .campo-conteudo-servico-terceario3{
        width: 29.2rem;
        height: 32px;
       
    
    }
    .identificadores-quaternarios{
        display: flex;
       padding: 1rem;
       gap: 1.7rem;
        
    }
    .identificacao-quaternario1{
        display: flex;
        flex-direction: column;
        padding: 10px;
        
      
    } 
    .identificacao-quaternario2{
        display: flex;
        flex-direction: column;
        padding: 10px;
        
      
    }
    .identificacao-quaternario3{
        display: flex;
        flex-direction: column;
        padding: 10px;
        
      
    }
    .campo-conteudo-servico-quaternario1{
        width: 12.5rem;
        height: 7rem;
       
    
    }
    .campo-conteudo-servico-quaternario1{
        display: inline-block;
        width: 12.5rem;
        height: 7rem;
        text-align: center;
        line-height: 7rem;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    
    .campo-conteudo-servico-quaternario1-input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
    .campo-conteudo-servico-quaternario2{
        width: 10.2rem;
        height: 32px;
       
    
    }
    .campo-conteudo-servico-quaternario3{
        width: 22.2rem;
        height: 32px;
       
    
    }
    .botao-cadastrar-produto{
        font-size: 26px;
        display: flex;
        text-align: end;
        justify-content: end;
   
        padding: 0% 4%;
        gap: 16px;
        }
        .texto-barra-login{  
            font-family: 'Krona One', sans-serif;
            font-size: 26px;
            display: flex;
            align-items: center;
            color: #F6F6F6;
            padding: 0 0%;
        }